@charset "UTF-8";

body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /*background-image: linear-gradient(90deg, yellow 10%, red 50%);*/
    background-image: radial-gradient(circle, green 10%, yellow 33%, red);
}

h1{
    color: brown;
    background-color: antiquewhite;
}

h2{
    color: yellow;
}
p{
    text-align: justify;
}

a{
   color: rgb(209, 181, 145);
}