@charset "UTF8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: rgba(231, 212, 188, 0.342);
    height: 100vh;
    width: 100vw;
}

header{
    background-color: rgba(230, 209, 181, 0.623);
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1{
    border: 2px ridge black;
    flex: 0 0 200px;
}

header > nav{
    border: 2px ridge black;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
}

header > nav > a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 13px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover{
   background-color: white;
   color: black;
   transition: background-color 0.4s;
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: -4px 4px 3px rgba(0, 0, 0, 0.342);
}