@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: 1.5em;    
}

p, h1, h2{
    margin-bottom: 20px;
    text-align: justify;
}

header, section.normal{
    padding: 20px;
}

section.flex-content{
    padding: 20px;
    background-color: rgb(241, 229, 206);
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

 article > div.text{
    flex: 1 1 500px;
      
 }

 article > div.media{
    flex: 1 0 500px;
    
 }

 div.media > img{
    display: block;
    margin: auto;
    height: 300px;
    width: 80%;
    padding: 15px;
 }

 div.media > iframe{
    display: block;
    margin: auto;
    width: 80%;
 }